ul {
  list-style: revert !important;
  list-style-position: inside !important;
}

h1,h2,h3,h4,h5,h6 {
  font-size: revert !important;
  margin: 1rem 0 !important;
}

pre, p {
  margin: 0.875rem !important;
}